<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semistone.donately">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.semistone.donately.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.semistone.donately.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.semistone.donately.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.semistone.donately.login.LoginActivity"
            android:theme="@style/AppTheme.NoTitle" />

        <activity
            android:name="com.semistone.donately.history.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName="com.semistone.donately.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.semistone.donately.main.MainActivity" />
        </activity>

        <service android:name="com.semistone.donately.background.BootService" />

        <receiver
            android:name="com.semistone.donately.background.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.semistone.donately.background.NotificationReceiver"
            android:process=":remote" />
    </application>
</manifest>